@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

:root {
    --main-dark-color: #1d3557;
    --main-color: #457b9d;
    --main-light-color: #f1faee;

    --secondary-color: #e63946;
}

* {
    font-family: Roboto;
    box-sizing: border-box; 
}

html, body {
    background-color: var(--main-light-color);
    text-align: center;
    overflow-x: hidden;
}

body {
    background-image: url('/assets/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg');
}

.highlight {
    color: var(--secondary-color);
}

.top-line {
    top: 0;
    position: absolute;
    width: 100vw;
    height: 10px;
    background: rgb(168,218,220);
    background: linear-gradient(45deg, rgba(168,218,220,1) 0%, rgba(69,123,157,1) 66%);
    z-index: 1;
}

.logo {
    margin-top: 50px;
    color: var(--main-light-color);
    z-index: 10;
}

.logo-utama {
    font-size: 3rem;
    font-weight: bold;
}

.logo-sekunder {
    font-weight: 300;
}

@media (min-width: 768px) {
    .logo {
        text-align: start;
    }

    .about {
        margin-top: 200px;
    }

    .contact {
        right: 30px;
        bottom: 60px;
        position: fixed;
    }

    .watermark {
        margin-top: 90px!important;
    }

    iframe {
        width: 300px;
    }
}

.jumbotron {
    text-align: start;
    margin-top: 80px;
    border-radius: 20px;
    box-shadow: 0px 30px 50px -40px;
    padding: 20px;
    color: var(--main-dark-color);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 50px;
}

.welcome {
    font-weight: bold;
    font-size: 4rem;
}

.about {
    border-radius: 10px;
    color: var(--main-dark-color);
    font-size: 1.5rem;
    font-weight: 300;
    max-width: 54rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 15px 30px -20px;
}

.title {
    color: var(--main-light-color);
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.feature {
    border-radius: 10px;
    box-shadow: 0px 15px 30px -20px;
    height: 180px;
}

.reason {
    font-weight: bold;
    font-size: 1.5rem;
}

.reason-txt {
    color: var(--main-dark-color);
    font-size: 1.2rem;
    font-weight: 300;
}

.galery {
    margin: auto;
    max-width: 40rem;
    margin-bottom: 50px;
}

.carousel {
    background: #FAFAFA;
    height: 250px;
}

.carousel-cell {
    width: 66%;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
}

.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}

.maps {
    margin-bottom: 50px;
}

.footer {
    width: 100vw;
    height: 150px;
    background: rgb(168,218,220);
    background: linear-gradient(45deg, rgba(168,218,220,1) 0%, rgba(69,123,157,1) 66%);
    padding: 20px;
    bottom: 0;
}


.chat {
    color: var(--main-light-color);
    background-color: #25D366;
    border-radius: 5px;
}

.chat:hover {
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
}

.watermark {
    margin-top: 50px;
    color: var(--main-light-color);
}

.chavyv {
    color: var(--main-light-color);
    font-weight: bold;
}